<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Houses</title>
  <link rel="stylesheet" href="/static/css/app.css">
  <link rel="stylesheet" href="/static/css/detail.css">
  <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF5qkTDsXd0PvbIo3ScSQS0iGsT2I2A1oR1kHj4MkYMB5aqTTl4" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>
</head>
<body>
  {% block content %}{% endblock %}
  <script src="/static/js/app.js"></script>
  <script src="/static/js/detail.js"></script>
</body>
</html>
